:root{
  --primary: #CC0000;
  --secondary: #009999;
  --dark: #111111;
  --light: #EEEEEE;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.App{
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}


.Calculator{
  width: 100%;
  max-width: 400px;
  background-color:  #FFF;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 2px 64px rgba(0, 0, 0, 0.2);
}

.Result{
  padding: 16px;
  text-align:right;
  background-color: var(--dark);
  color: var(--light);
  font-size: 24px;
  font-weight: 300;
}

.Result span{
  font-size: 14px ;
  color: #888;
}

button{
  appearance: none;
  border: none;
  outline: none;
  color: #FFF;
  font-size: 20px;
  padding: 16px;
  cursor: pointer;
  transition: 0.4s;
}

button:hover{
  opacity: 0.9;
}

.Operator{
  display: flex;
}

.Operator button{
  flex: 1 1 0%;
  background-color:var(--primary);
  font-weight: 700;
}

.Digits{
  display: flex;
  flex-wrap: wrap;
}

.Digits button{
  flex: 1 1 33.33333%;
  max-width: 33.333333%;
  background-color: var( --dark);
}